
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout_faculty.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="content-header">Trang chủ</h2>
    </div>
</div>
<!-- Input Validation start -->
<section class="input-validation">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="margin: 50px">Chào <span style="color: #666EE8 ">@User.Identity.Name</span>,<br />Chọn mục để quản lý ở thanh tác vụ bên trái</h4>
                </div>
                <div class="card-body" style="margin-top: -70px">
                    <div class="card-block">
                        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/Welcome-rafiki.svg" width="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Input Validation end -->
