@model StudyProgressManagement.Models.major

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Major", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <label>Mã ngành: </label>
    <div class="form-group">
        @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.id, null, new { @class = "text-danger" })
    </div>

    <label>Tên ngành: </label>
    <div class="form-group">
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, null, new { @class = "text-danger" })
    </div>

    <div class="form-actions right">
        <button type="submit" class="btn btn-success">
            <i class="icon-note"></i> Lưu
        </button>
    </div>
}