
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout_faculty.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="content-header">Trang chủ</h2>
    </div>
</div>
<!-- Input Validation start -->
<section class="input-validation">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="margin: 50px">Chào <code>@User.Identity.Name</code>,<br />Chọn mục để quản lý ở thanh tác vụ bên trái</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Input Validation end -->
