
@{
    ViewBag.Title = "Thống kê tình hình học tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.StudentId == null)
{
    <!-- Show have no data start -->
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-pink">
                            <h4 class="card-title mb-0">Thống kê tình hình học tập</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="container" id="viewStudyResult_instruction">
                                <h4 class="card-title text-center mt-4">Xin lỗi, hệ thống chưa có dữ liệu về bạn</h4>
                                <img class="mx-auto d-block w-50" alt="Instruction" src="~/assets/images/img_sorry.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Show have no data end -->
}
else
{
    <!-- Section start -->
    <section>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-pink">
                            <h4 class="card-title">Thống kê tình hình học tập</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block chartjs">
                            <canvas id="column-chart" height="550"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section end -->

    @section scripts {
        <script src="~/app-assets/vendors/js/chart.min.js"></script>
        <script src="~/app-assets/vendors/js/chartjs-plugin-datalabels.min.js"></script>

        <script type="text/javascript">

            var studentId = '@ViewBag.StudentId';
            var studentCourseId = '@ViewBag.StudentCourseId';

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStatistics", "Statistics")',
                data: { 'studentId': studentId, 'studentCourseId': studentCourseId },
                success: function (response) {

                    //Get the context of the Chart canvas element we want to select
                    var ctx = $("#column-chart");

                    // Chart Options
                    var chartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        scaleShowVerticalLines: false,
                        responsiveAnimationDuration: 500,
                        borderRadius: 4,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxis: {
                                stacked: true,
                                grid: {
                                    color: "#f3f3f3",
                                    drawTicks: false,
                                },
                                ticks: {
                                    padding: 20
                                }
                            },
                            yAxis: {
                                stacked: false,
                                grid: {
                                    color: "#f3f3f3",
                                    drawTicks: false,
                                }
                            }
                        }
                    };

                    // Get chart labels and data
                    var labels = response.map(function (e) {
                        if (e.group_3 != null) {
                            return e.group_3;
                        }
                        else {
                            return e.group_2;
                        }
                    });
                    var labels_adjusted = labels.map(label => label.split(/[./\-_]/));
                    var data_original = response.map(function (e) {
                        var credits_sum = e.compulsory_credits + e.optional_credits;
                        return credits_sum;
                    });
                    var data_learned = response.map(function (e) {
                        return e.sum;
                    });

                    // Chart Data
                    var chartData = {
                        labels: labels_adjusted,
                        datasets: [
                            {
                                label: 'Đã học',
                                data: data_learned,
                                backgroundColor: 'rgba(180, 238, 217, 1)',
                                borderColor: 'rgba(40, 208, 148, 1)',
                                borderWidth: 1,
                                datalabels: {
                                    display: function (context) {
                                        // Only return positive values
                                        return context.dataset.data[context.dataIndex] !== 0;
                                    }
                                }
                            },
                            {
                                label: 'Tổng chỉ cần học',
                                data: data_original,
                                backgroundColor: 'rgba(189, 189, 189, 0.3)',
                                borderColor: 'rgba(189, 189, 189, 1)',
                                borderWidth: 1,
                                datalabels: {
                                    anchor: 'end',
                                    align: 'top'
                                }
                            }
                        ]
                    };

                    var config = {
                        type: 'bar',
                        options: chartOptions,
                        data: chartData,
                        plugins: [ChartDataLabels]
                    };

                    // Create the chart
                    var chart = new Chart(ctx, config);
                }
            });
        </script>
    }
}