
@{
    ViewBag.Title = "Import chương trình đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dropzone section start -->
<section id="dropzone-examples">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Import chương trình đào tạo</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block">
                        @using (Html.BeginForm("Import", "StudyProgram", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <div class="form-body">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Ngành: </label>
                                            <select class="form-control" id="comboboxMajor" name="major" required onkeypress="document.getElementById('resp1').innerHTML=''">
                                                <option value="" selected="selected" disabled="disabled"> ----------- Chọn ngành ----------- </option>
                                                @foreach (var major in ViewBag.majors)
                                                {
                                                    <option value="@major.id">@major.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Khoá: </label>
                                            <select class="form-control" id="comboboxStudentCourse" name="student_course" required>
                                                <option value="" selected="selected" disabled="disabled"> ----------- Chọn khoá ----------- </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropzone" id="my-dropzone">
                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mr-1" id="submit-all">
                                        Submit
                                        <i class="ft-thumbs-up position-right"></i>
                                    </button>
                                    <button type="reset" class="btn btn-warning">
                                        Reset
                                        <i class="ft-refresh-cw position-right"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Tips</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <h4 class="card-title" style="text-align:center">Chọn hoặc kéo thả file để bắt đầu import chương trình đào tạo</h4>
                        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/Instruction manual-cuate.svg" width="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Dropzone section end -->

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/dropzone.min.css">

@section scripts {

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/app-assets/vendors/js/dropzone.min.js"></script>
    <script src="~/app-assets/vendors/js/sweetalert2@11.js"></script>
    <script src="~/app-assets/vendors/js/sweetalert2.min.js"></script>
    <script src="~/app-assets/js/sweet-alerts.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            // Load cascading dropdown between majors and student courses
             $("#comboboxMajor").change(function () {
                $("#comboboxStudentCourse").empty();
                var majorId = $('#comboboxMajor option:selected').val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadStudentCourses", "StudyProgram")',
                    dataType: 'json',
                    data: { majorId: majorId },
                    success: function (results) {
                        $("#comboboxStudentCourse").append('<option value="" selected="selected" disabled="disabled"> ----------- Chọn khoá ----------- </option>');
                        $.each(results, function (i, result) {
                            $("#comboboxStudentCourse").append('<option value="' + result.id + '">' + result.course + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            }).change();
        });

        Dropzone.options.myDropzone = {
            url: '@Url.Action("Import", "StudyProgram")',
            autoProcessQueue: false,
            paramName: 'postedFile',
            maxFiles: 1,
            acceptedFiles: '.xlsx, .xls, .csv',

            init: function () {

                var myDropzone = this;

                this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                });

                $("#submit-all").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var count = myDropzone.getQueuedFiles().length;


                    if (document.getElementById("comboboxMajor").value == '') {
                        toastr.options.positionClass = 'toast-bottom-right';
                        toastr.warning('Bạn chưa chọn ngành và khoá');
                    }
                    else if (document.getElementById("comboboxStudentCourse").value == '') {
                        toastr.options.positionClass = 'toast-bottom-right';
                        toastr.warning('Bạn chưa chọn khoá');
                    }
                    else if (count == 0) {
                        toastr.options.positionClass = 'toast-bottom-right';
                        toastr.warning('File chưa được upload hoặc sai định dạng ');
                    }
                    else {
                        myDropzone.processQueue();
                    }
                });

                this.on('sending', function (data, xhr, formData) {
                    $('.form-control').each(function () {
                        formData.append($(this).attr('name'), $(this).val());
                    })
                });

                @*this.on("complete", function (data) {
                    var res = eval(data.xhr.responseText);
                    alert(res.Message);
                });*@

                this.on("error", function (data, errorMessage, xhr) {
                    if (errorMessage.indexOf('Error 400') !== -1) {
                        var errorDisplay = document.querySelectorAll('[data-dz-errormessage]');
                        errorDisplay[errorDisplay.length - 1].innerHTML = 'Đã xảy ra lỗi';

                        Swal.fire({
                            title: 'Thông báo',
                            text: "Khoá sinh viên này đã có chương trình đào tạo, bạn có muốn import lại?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            }
                        })
                    }                  
                });
            }
        };


    </script>
}


