
@{
    ViewBag.Title = "Import chương trình đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dropzone section start -->
<section id="dropzone-examples">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Import chương trình đào tạo</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block">
                        <form action="#">
                            <div class="form-body">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Ngành: </label>
                                            <select class="form-control" id="comboboxMajor">
                                                <option selected="selected" disabled="disabled"> ----------- Chọn ngành ----------- </option>
                                                @foreach (var major in ViewBag.majors)
                                                {
                                                    <option value="@major.id">@major.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Khoá: </label>
                                            <select class="form-control" id="comboboxStudentCourse">
                                                <option selected="selected" disabled="disabled"> ----------- Chọn khoá ----------- </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropzone" id="my-dropzone" name="dpz-single-file">
                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mr-1" id="submit-all">
                                        Submit
                                        <i class="ft-thumbs-up position-right"></i>
                                    </button>
                                    <button type="reset" class="btn btn-warning">
                                        Reset
                                        <i class="ft-refresh-cw position-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Tips</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <h4 class="card-title" style="text-align:center">Chọn hoặc kéo thả file để bắt đầu import chương trình đào tạo</h4>
                        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/Instruction manual-cuate.svg" width="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Dropzone section end -->

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/dropzone.min.css">

@section scripts {

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/app-assets/vendors/js/dropzone.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Load cascading dropdown between majors and student courses
            $('#comboboxMajor').on('change', function () {
                $("#comboboxStudentCourse").empty();
                var majorId = $('#comboboxMajor option:selected').val();
                $.ajax({
                    type: 'GET',
                    data: { majorId: majorId },
                    url: '@Url.Action("LoadStudentCourses", "StudyProgram")',
                    success: function (result) {
                        var s = '<option selected="selected" disabled="disabled"> ----------- Chọn khoá ----------- </option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value=' + result[i].Id + '">' + result[i].course + '</option>';
                        }
                        $('#comboboxStudentCourse').html(s);
                    }
                });
            });
        });

    </script>

    <script type="text/javascript">

        @*(function (window, document, $) {
            'use strict';
            Dropzone.options.dpzSingleFile = {
                paramName: "file", // The name that will be used to transfer the file
                maxFiles: 1,
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    });
                }
            };
        })(window, document, jQuery);*@

        Dropzone.options.myDropzone = {
            url: "/Account/Create",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/*",

            init: function () {

                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on("addedfile", function (file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class='btn btn-lg dark'>Remove File</button>");

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();

                        // Remove the file preview.
                        wrapperThis.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });

                this.on('sendingmultiple', function (data, xhr, formData) {
                    formData.append("Username", $("#Username").val());
                });
            }
        };

    </script>
}


