
@{
    ViewBag.Title = "Import chương trình đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dropzone section start -->
<section id="dropzone-examples">        
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Import chương trình đào tạo</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block">
                        <form action="/" class="dropzone dropzone-area" id="dpz-single-file">
                        </form>
                        <h4 class="card-title" style="text-align:center; margin-top: 50px">Chọn hoặc kéo thả file để bắt đầu import chương trình đào tạo</h4>
                        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/Instruction manual-cuate.svg" width="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
<!-- // Dropzone section end -->

